.slides {
	@extend %position-relative;
	overflow: hidden;

	@include child(arrows) {
        @extend %display-none;
        @extend %position-absolute;

		background: url('//static.select-interactive.com/CRE/img/arrows.v1.png') no-repeat 0 0;
		height: 160px;
		margin-top: -100px;
		top: 50%;
		width: 100px;

		@include opacity(.4);
		@include transition(opacity .2s ease);

		&:hover {
			@include opacity(1);
		}

        @include mediaquery(tabletPlus) {
            display: inline-block;
        }

		@include child(prev) {
			left: 0;
		}

		@include child(next) {
			background-position: -100px 0;
			right: 0;
		}
	}

    @include mediaquery(tabletPlus) {
        min-height: 350px;
    }
}

.slide {
	@extend %position-absolute;

    padding: 0 15px;

	@include transform(translateX(100%));
	@include transition(transform .5s ease-in-out);

	@include child(center) {
		@include transform(translateX(0));
	}

	@include child(left) {
		@include transform(translateX(-100%));
	}

	@include child(right) {
		@include transform(translateX(100%));
	}

	@include child(no-trans) {
		@include transition(transform 0s ease);
	}

    @include child(component) {
        @extend %display-inline-block;
        @extend %position-relative;

        @include child(overlay) {
            @extend %position-absolute;

            background: rgba($si-orange, .9);
            color: $white;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;

            @include opacity(0);
            @include transition(opacity .2s ease);

            &:hover {
                @include opacity(1);
            }
        }

        @include child(overlay-white) {
            background: rgba($white, .9);
            color: $si-orange;
        }

        @include child(label) {
            @extend %position-absolute;

            border: 1px solid $white;
            border-radius: 3px;
            font-size: 2em;
            left: 50%;
            padding: 10px 20px;
            top: 50%;

            @include transform(translate3d(-50%, -50%, 0));

            .slide-component-overlay-white & {
                border-color: $si-orange;
            }
        }
    }
}