/**
 * Typography styles
 * Fonts, type helpers, headers, body text, lists, and other typography helpers
 */


// ------------------------------
// Embedded Fonts with @font-face
// ------------------------------
/** Fonts
 -----------------------------*/
@font-face {
	font-family: 'Telegrafico';
	src: url('/font/telegrafico.eot');
	src: url('/font/telegrafico.eot?#iefix') format('embedded-opentype'),
		 url('/font/telegrafico.woff') format('woff'),
		 url('/font/telegrafico.ttf') format('truetype'),
		 url('/font/telegrafico.svg#TelegraficoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir-35';
	src: url('/font/avenir-35-webfont.eot');
	src: url('/font/avenir-35-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/font/avenir-35-webfont.woff') format('woff'),
		 url('/font/avenir-35-webfont.ttf') format('truetype'),
		 url('/font/avenir-35-webfont.svg#avenir35') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir-Medium';
	src: url('/font/avenir-Medium-webfont.eot');
	src: url('/font/avenir-Medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/font/avenir-Medium-webfont.woff') format('woff'),
		 url('/font/avenir-Medium-webfont.ttf') format('truetype'),
		 url('/font/avenir-Medium-webfont.svg#avenirMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir-Black';
	src: url('/font/avenir-black-webfont.eot');
	src: url('/font/avenir-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/font/avenir-black-webfont.woff') format('woff'),
		 url('/font/avenir-black-webfont.ttf') format('truetype'),
		 url('/font/avenir-black-webfont.svg#avenirblack') format('svg');
	font-weight: normal;
	font-style: normal;
}

.telegrafico,
.av-35,
.av-medium,
.av-black {
	@extend %font-weight-normal;
}

.telegrafico {
	font-family: 'Telegrafico';
}
.av-35{
	font-family: 'Avenir-35';
}
.av-medium {
	font-family: 'Avenir-Medium';
}
.av-black {
	font-family: 'Avenir-Black';
}


// -------
// Helpers
// -------
.text-left { @extend %text-align-left; }
.text-center { @extend %text-align-center; }
.text-right { @extend %text-align-right; }
.text-justify { @extend %text-align-justify; }
.text-xlarge { font-size: 1.4em !important; }
.text-larger { font-size: 1.25em !important; }
.text-large { font-size: 1.1em !important; }
.text-small { font-size: .9em !important; }
.text-smaller { font-size: .75em !important; }
.text-xsmall { font-size: .6em !important; }
.text-uppercase { @extend %text-transform-uppercase }
.color-si-orange { color: $si-orange; }


// -------
// Headers
// -------
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
}

.heading {
	line-height: 1.1;
	margin-bottom: $base-line-height;

	@include child(primary) {
		@extend .av-medium;
		font-size: em(46px);
	}

	@include child(subtitle) {
		font-size: em(23px);
		line-height: 1.4;
	}

	@include child(secondary) {
		@extend .av-medium;
		@extend %display-inline-block;

		border: 1px solid $si-gray-lighter;
		border-radius: 3px;
		font-size: em(24px);
		letter-spacing: 1px;
		line-height: 1.2;
		margin: 0 auto $base-line-height;
		padding: 7px 25px 5px;
	}

	@include child(basic) {
		font-size: em(22px);
		letter-spacing: 1px;
		margin-bottom: $base-line-height / 2;
	}
}


// ---------
// Body Text
// ---------
p {
	margin: 0 0 $base-line-height / 2;
}


// -----
// Lists
// -----
ul, ol {
	padding: 0;
	margin: 0 0 ($base-line-height / 2) 25px;

	&.list-basic {
		@extend %list-style-none;
		@extend %no-padding;
		margin-left: 0;
	}
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}
li {
	line-height: $base-line-height;

	.list-basic & {
		@extend %no-padding;

		margin: 12px 0 0;

		&:first-chlid {
			margin-top: 0;
		}
	}

	.list-arrows & {
		background: url('//static.select-interactive.com/img/list-style.v1.png') no-repeat 0 6px;
		padding-left: 15px;
	}
}


// -----
// Links
// -----
a {
	@include link-colors($link-color, $link-color-hover);	
}