// ----------
// Containers
// ----------
.container {
	$container-vert-padding: 75px;

	// ---------------
	// Container Sizes
	// ---------------
	@include container($max-width-px);

	@include child(full-width) {
		@extend %clearfix;
		width: 100%;
	}

	@include child(1000) {
		@include container(1000px);
	}


	// -----------------
	// Container Padding
	// -----------------
	@include child(vert-padding) {
		padding-bottom: $container-vert-padding;
		padding-top: $container-vert-padding;
	}


	// ----------------
	// Container Colors
	// ----------------
	@include child(bg-white) {
		background: $white;
		color: $si-gray-darkest;

		a {
			@include link-colors($si-gray-lightest, $si-gray-lightest, $si-gray-lightest);
		}
	}

	@include child(bg-gray-light) {
		background: $si-gray-lightest;
		color: $si-gray-darkest;

		a {
			@include link-colors($si-gray-lightest, $si-gray-lightest, $si-gray-lightest);
		}
	}

	@include child(bg-gray) {
		background: $si-gray-darker;
		color: $si-gray-lightest;

		// Clip-path support isn't good enough
		//   especially with animations/transitions of other elements
		//-webkit-clip-path: polygon(0 100%, 0 0, 48% 0, 50% 7%, 52% 0, 100% 0, 100% 100%);
		//-moz-clip-path: polygon(0 100%, 0 0, 48% 0, 50% 7%, 52% 0, 100% 0, 100% 100%);
		//clip-path: polygon(0 100%, 0 0, 48% 0, 50% 7%, 52% 0, 100% 0, 100% 100%);

		a {
			@include link-colors($si-gray-lightest, $si-gray-lightest, $si-gray-lightest);
		}
	}

	@include child(bg-gray-dark) {
		background: #262626;
		color: $si-gray-lightest;

		a {
			@include link-colors($si-gray-lightest, $si-gray-lightest, $si-gray-lightest);
		}
	}

    @include child(bg-orange) {
		background: $si-orange;
		color: $white;

		a {
			@include link-colors($white, $white, $white);
		}
	}


	// -------------------------
	// Containers with bg images
	// -------------------------
	@include child(bg-city) {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 350px;
	}

	@include child(bg-austin) {
		background-image: url('//static.select-interactive.com/CRE/img/skylines/austin-orange.v1.webp');
		color: $white;

		.no-webp & {
			background-image: url('//static.select-interactive.com/CRE/img/skylines/austin-orange.v1.jpg');
		}
	}

	@include child(bg-dallas) {
		background-image: url('//static.select-interactive.com/CRE/img/skylines/dallas.v1.webp');
		color: $si-gray-darkest;

		.no-webp & {
			background-image: url('//static.select-interactive.com/CRE/img/skylines/dallas.v1.jpg');
		}
	}


    // ------------------------------
    // Containers with primary images
    // ------------------------------
    @include child(img-primary-right) {
        @extend %float-right;
        padding-left: gutter() * 2;
        padding-right: gutter();
    }


	// ----------------
	// Container Layout
	// ----------------
	@include child(cols-2) {
		.col {
			&:first-child {
				@include span(7);
			}

			&:nth-child(2n) {
				@include span(5);
			}
		}
	}

    @include child(cols-2-eq) {
		.col {
			&:first-child {
				@include span(6);
			}

			&:nth-child(2n) {
				@include span(6);
			}
		}
	}

	@include child(cols-3) {
		.col {
			@include span(4);
		}
	}

	.border-right {
		border-right: 1px solid $white;

		@include child(orange) {
			border-right-color: $si-orange;
		}
	}
}