// ------
// Footer
// ------
#footer-main {
	color: $si-gray-lighter;
	font-size: em(15px);

	.col {
		padding: 10px 0;

		@include mediaquery(large) {
            border-left: 1px solid $si-gray-darker;
            padding: 10px gutter() * 2;

            &:first-child {
			    border-left: 0;
		    }
        }
	}

	a {
		@extend %text-decoration-none;

		border-bottom: 1px dotted $si-gray-lighter;

		@include link-colors($si-gray-lighter, $si-gray-lightest, $si-gray-lightest);
		@include transition(all .1s ease);

		&.fa {
			@extend %text-align-center;
			border: 1px solid $si-orange;
			font-size: 1.2em;
			margin-right: 10px;
			padding: 8px;
			width: 35px;
			@include link-colors($si-orange, darken($si-orange, 8%), darken($si-orange, 8%));
		}
	}
}