// -----------------------
// Primary content wrapper
// -----------------------
#contentWrapper {
	padding-top: 80px;

	&.home {
		background-image: url('//static.select-interactive.com/CRE/img/skylines/med/dallas.v1.webp');
		background-attachment: fixed;
		background-position: center 80px;
		background-repeat: no-repeat;

		.no-webp & {
			background-image: url('//static.select-interactive.com/CRE/img/skylines/med/dallas.v1.jpg');
		}

		@include mediaquery(massive) {
			background-image: url('//static.select-interactive.com/CRE/img/skylines/large/dallas.v1.webp');

			.no-webp & {
				background-image: url('//static.select-interactive.com/CRE/img/skylines/large/dallas.v1.jpg');
			}
		}
	}
}


// -------------
// Copy Sections
// -------------
.copy {
	margin-left: auto;
	margin-right: auto;

	@include child(narrow) {
		max-width: 700px;
	}

	@include child(med) {
		max-width: 900px;
	}

	p,
	ul,
	ol {
		margin-bottom: $base-line-height * 1.25;
	}

	p,
	li {
		font-size: em(18px);
		line-height: 1.35;
	}
}